h1{color: darkblue;

    font-size: 50px;}
    body{background-color: rgb(8, 138, 25);}
    h2{color: brown;}
    p{font-size: 30px;
    text-align: center;
color: mintcream;}
img {width: 400px;
position: relative;left: 500px ;}